/*********

places section

*********
7--places.css

*****/

.places {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.places h1 {
    width: 100%;
    font-size: 30px;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

article .article-content h2 {
    text-align: center;
}
article .article-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin: auto;
}

.article-content {
    display: flex;
    margin-bottom: 20px;
}
